.recipe-picture {
  height: 380px;
  width: 440px;
  object-fit: cover;
}

.recipe-name {
  font-size: 40px;
  padding: 16px;
}

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}

.recipe-container {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.2s;
}

.recipe-container:hover {
  transform: scale(1.1);
}

body {
  background: whitesmoke;
}
